<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }} - {{ subtitle }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" type="image/png" href="/favicon.png">
  <script src="/js/tex.js"></script>
</head>

<body>

<nav>
<div>
  <a href="/">Home</a>
  <a href="/join/">Join</a>
  <a href="/blog/">Blog</a>
</div>
</nav>

<main>
{{ content }}
</main>

<footer>
<div>
<div>
  <a href="https://twitter.com/projectfermat"
     class="twitter-follow-button"
     data-show-count="true">Follow @projectfermat</a>
  <script async src="//platform.twitter.com/widgets.js"></script>
</div>
<div>
<p>
  &copy; 2019 Project Fermat
</p>
<p>
  This is free and open source website.
  The source code of this website is available on
  <a href="https://github.com/projectfermat/projectfermat.org">GitHub</a>.
  You are welcome to modify and improve this website under the terms
  of the <a href="/license/">MIT License</a>.
</p>
<p>
  To report bugs, suggest improvements, or ask questions,
  <a href="https://github.com/projectfermat/projectfermat.org/issues">create issues</a>.
</p>
</div>
<div class="links">
  <a href="https://github.com/projectfermat/projectfermat.org">Source</a>
  <a href="https://github.com/projectfermat/projectfermat.org/issues">Issues</a>
  <a href="/blog/rss.xml">Feed</a>
  <a href="https://twitter.com/projectfermat">Twitter</a>
</div>
</div>
</footer>
</html>
